h2 {
    text-shadow: 2px 2px;
}

p {
    border: 2px solid powderblue;
    padding: 30px;
  }

.milo {
    float:right;
    float;
    border: 3px solid #000000;
}

.stor_hund{
    float:right;
    border:3px solid #000000
}